[uwsgi]
uid = uwsgi
gid = uwsgi

# - Django-related settings -
# the base directory (full path)
chdir           = /PATH/TO/PROJECT
# Django's wsgi file
module          = YOUR_APP_NAME.wsgi

# the virtualenv (full path)
home            = /PATH/TO/venv

# - process-related settings -
master          = true
# maximum number of worker processes
# workers = 1 # same with processes
processes       = 8
threads = 8
enable-threads = true
thunder-lock = true

# ... with appropriate permissions - may be neede
chmod-socket    = 666

# clear environment on exit
vacuum          = true

# log
logto = /PATH/TO/PROJECT/logs/uwsgi_sql.log
log-reopen = true
logformat = [%(ctime)] [pid: %(pid)|app: -|req: -/-] %(addr) (%(user)) {%(vars) vars in %(pktsize) bytes} %(method) %(uri) => generated %(rsize) bytes in %(msecs) msecs (%(proto) %(status)) %(headers) headers in %(hsize) bytes (%(switches) switches on core %(core))

# the socket (use the full path to be safe)
socket          = /PATH/TO/PROJECT/uwsgi/uwsgi_sql.sock

# pid
pidfile         = /PATH/TO/PROJECT/uwsgi/uwsgi_sql.pid

# status
# stats           = /PATH/TO/PROJECT/uwsgi/uwsgi_sql.stats
