{% extends "explorer/base.html" %}
{% load i18n %}

{% block sql_explorer_content %}
    <form method="post">{% csrf_token %}
        <div class="alert alert-info">
            {% trans "Are you sure you want to delete " %}
            {% blocktrans trimmed with title=object.title %}
                "{{ title }}"?
            {% endblocktrans %}
        </div>
        <div>
            <input type="submit" value={% trans "Delete Query" %} class="btn btn-default" />
        </div>
    </form>
{%  endblock %}
